<h1>New Category for Pokemon</h1>
<p> <em> Ingrese los datos necesarios: </em> </p>

<% if @catpok.errors.any? %>
  <div>
    Por favor corrija los siguientes problemas:
    <ul>
      <% @catpok.errors.full_messages.each do |m| %>
        <li>
          <%= m %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @catpok do |f| %>

<div>
	<%= f.label :poke_id, "Pokemon" %>
	<%= f.select :poke_id, Poke.pluck(:name, :id), {} %>
</div>
<div>
	<%= f.label :category_id, "Category" %>
	<%= f.select :category_id, Category.pluck(:nombre, :id), {} %>
</div>
<p>
  <%= f.submit "Crear" %>
  <%= link_to "Cancelar", pokes_path %>
</p>

<% end %>
