<h1> Crea una nueva Categoria</h1>
<p> <em> Ingrese datos necesarios: </em> </p>
<%= render partial: "/shared/errors", locals: {obj: @category} %>
<%= form_for @category do |f| %>
	<%= render partial: "form", locals: {f: f} %>
	<p> <%= f.submit  "Crear" %> </p>
	<p> <%= link_to "Cancelar", categories_path %> </p>

<% end%>
