<h1>Nuevo Review</h1>

<div>
	<%= render partial: "shared/errors", locals: { obj: @review } %>
	
	<%= form_for [@poke, @review] do |f| %>
		<p>
			<%= f.label :autor, "Autor" %>
			<%= f.text_field :autor %>
		</p>
    <p>
      <%= f.label :descripcion, "Descripcion" %>
      <%= f.text_area :descripcion %>
    </p>
    <p>
      <%= f.label :rev, "Review" %>
      <%= f.number_field :rev %>
    </p>
		<p>
			<%= f.submit "Agregar Review" %>
			<%= link_to "Cancelar", @poke %>
		</p>
	<% end %>
</div>
